#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.btn {
  background: white;
  border: 1px solid #b5abab;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #ebe9e9;
}

.componentList {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

::ng-deep .componentBox {
  border: 1px solid white;
  min-height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  background: #afafaf;
  color: #3c4dc7;
  box-shadow: 1px 1px 20px 5px #e3e0e9;
  justify-content: center;
  font-size: 50px;
}
